@media (width > 550px) {
  .links-column {
    text-align: left;
  }

  footer section.top .links {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 50px;
  }

  footer section.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    text-align: left;
  }

  footer section.top .socials {
    left: 0;
    translate: 0% 10px;
  }

  footer section.top > img{
    margin: 0 0 50px;
  }
}

@media (width >= 640px) {
  footer section {
    margin: 0 auto;
    max-width: 580px;
    padding: 0;
  }

  footer section.top .links {
    grid-template-columns: repeat(3, 1fr);
  }

  footer section.top .socials {
    position: static;
  }

  footer section.bottom {
    justify-content: space-between;
  }

  .socials-column :is(h2, p) {
    display: block;
  }
}
