@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --cor-de-fundo: #212729;
  --cor-de-fundo-meio-transparente: rgba(33, 39, 41, 50%);
  --cor-da-div: #353A3C;
  --cor-do-separador: rgba(134, 142, 150, 20%);
  --cor-principal: #5ADCFF;

  --cor-do-texto: #fff;
  --cor-do-texto-secundaria: #868E96;

  --tamanho-da-lateral: 300px;

  --borda: 10px 15px 20px rgba(0, 0, 0, 25%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--cor-do-texto);
}

html{
  width: 100%;
  height: 100%;
  background-color: var(--cor-de-fundo);
  background-image: url(./imgs/Icon\ Grid.svg);
  scrollbar-width: thin;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-da-div);
  border-radius: 20px;
  border: 3.5px solid var(--cor-de-fundo);
}

.menu::-webkit-scrollbar-track {
  background: rgba(0 0 0 0%);
}

.menu::-webkit-scrollbar {
  width: 10px;
}

.menu::-webkit-scrollbar-thumb {
  background-color: var(--cor-da-div);
  border-radius: 20px;
  border: 3.5px solid var(--cor-de-fundo);
}

.menu::-webkit-scrollbar-track {
  background: rgba(0 0 0 0%);
}

header{
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 4%;
  transition: 1s;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(50px);
  background-color: var(--cor-de-fundo-meio-transparente);
  z-index: 1;
}

.nav.rolagem{
  padding: 10px 4%;
}

.div-logo{
  display: flex;
  align-items: center;
}

.div-logo p{
  font-size: 25px;
}

.logo{
  margin: 0px;
  height: 50px;
}

.hamburger {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}

.hamburger span {
  transition: all 0.3s ease-in-out;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  align-items: center;
}

.menu li {
  padding: 10px;
  text-align: center;
  transition: 10s;
  align-items: center;
  margin: 0px 20px;
}

.menu li:hover a, .menu li:hover i{
  color: var(--cor-principal);
}

.botao:hover i{
  color: #fff!important;
}

.menu i{
  display: none;
  transition: 1s;
  margin: 0px 5px;
  font-size: 24px;
}

.menu li a, .botao p{
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: 1s;
}

.cel{
  display: none!important;
}

.espaco{
  margin: 130px 0px 0px 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.prato{
  width: 60vw;
  height: auto;
  position: relative;
  top: 20%;
  left: 20%;
  z-index: -1;
}

.titulo2{
  position: relative;
  top: 15vh;
  left: 35px;
  font-size: 85px;
  line-height: 0.6;
  z-index: 0;
}

.titulo3{
  position: relative;
  top: 18vh;
  left: calc(0% - 35px);
  font-size: 50px;
  line-height: 1.2;
  text-align: end;
  z-index: 0;
}

g{
  font-size: 25px;
}

c{
  color: var(--cor-principal);
}

.tela1, .div-base{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.div-base{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.div-secundaria{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-selecao{
  width: var(--tamanho-da-lateral);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 28px 0;
}

.div-selecao-interna{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-selecao{
  margin: 0 0 0 10px;
}

.div-total{
  width: var(--tamanho-da-lateral);
  height: 207px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--cor-da-div);
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 20px 0;
  box-shadow: var(--borda);
}

.div-total-interna{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 0 20px 0;
}

.separador, .separador-tudo{
  width: 95vw;
  height: 3px;
  border-radius: 10px;
  background-color: var(--cor-do-separador);
  margin: 50px 0;
}

.s1{
  width: var(--tamanho-da-lateral)!important;
}

.s2{
  display: none;
  margin: 10px 0px!important;
  width: 100%!important;
}

.s3{
  margin: 100px 0px 0px 0px!important;
}

.div-base .separador{
  display: none;
}

.titulo{
  font-size: 40px;
  text-align: center;
}

d{
  color: var(--cor-do-texto-secundaria);
}

p, th, td{
  font-size: 15px;
}

.titulo-total, .antes-total{
  font-size: 20px;
}

.depois-total{
  font-size: 30px;
}

.legenda{
  padding: 0px 20px;
  text-align: center;
}

.tela2{
  width: 100%;
}

table {
  border-collapse: collapse;
  display: flex;
  background-color: var(--cor-da-div);
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
  margin: 28px 10px;
  box-shadow: var(--borda);
}

th, td{
  text-align: left;
  padding: 8px;
  color: #fff;
  text-justify: center;
}

th {
  color: #5ADCFF;
}

tr{
  display: table-row;
}

.numero{
  background-color: rgba(134, 142, 150, 10%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px!important;
  margin: 5px;
}

.center{
  text-align: center;
  align-items: center;
  justify-content: center;
}

input{
  background-color: var(--cor-de-fundo-meio-transparente);
  border: none;
  padding: 5px;
  width: 55px;
  border-radius: 10px;
}

.nome{
  width: 260px;
}

.didi{
  width: 10px;
}

.quant{
  text-align: center;
}

.mr-t-menu{
  margin-top: 100px;
}

.enviar button{
  cursor: pointer;
  text-align: center;
  width: fit-content;
  display: flex;
  background-color: var(--cor-principal);
  padding: 10px;
  border-radius: 50px;
  border: none;
}

.enviar{
  display: flex;
  justify-content: flex-end;
  margin: 0 0 50px 0;
}

.enviar span{
  padding: 0 0 0 5px;
  font-size: 25px;
}

#invalido{
  color: var(--cor-vermelho);
  padding: 0 0 10px 0;
}
