@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --cor-de-fundo: #212729;
  --cor-de-fundo-meio-transparente: rgba(33, 39, 41, 50%);
  --cor-da-div: #353A3C;
  --cor-do-separador: rgba(134, 142, 150, 20%);
  --cor-principal: #5ADCFF;
  --cor-vermelho: #D50606;

  --cor-do-texto: #fff;
  --cor-do-texto-secundaria: #868E96;

  --tamanho-da-lateral: 300px;

  --borda: 10px 15px 20px rgba(0, 0, 0, 25%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--cor-do-texto);
}

body{
  background-color: var(--cor-de-fundo);
  background-image: url(./imgs/Icon\ Grid.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-da-div);
  border-radius: 20px;
  border: 3.5px solid var(--cor-de-fundo);
}

.p1{
  padding: 20px 100px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.p1.n{
  display: none;
}

.titulo{
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

input{
  border: none;
  background-color: var(--cor-da-div);
  padding: 6px 10px;
  border-radius: 20px;
}

#invalido{
  color: var(--cor-vermelho);
}

.mensagem{
  margin: 20px 0;
}

.enviar button{
  cursor: pointer;
  text-align: center;
  width: fit-content;
  display: flex;
  background-color: var(--cor-principal);
  padding: 10px;
  border-radius: 50px;
  border: none;
}

.enviar{
  display: flex;
  justify-content: flex-end;
  margin: 0 0 50px 0;
}

span{
  padding: 0 0 0 5px;
}

.separador, .separador-tudo{
  width: 95vw;
  height: 3px;
  border-radius: 10px;
  background-color: var(--cor-do-separador);
  margin: 50px 0;
}

.s1{
  width: var(--tamanho-da-lateral)!important;
}

.s2{
  display: none;
  margin: 10px 0px!important;
  width: 100%!important;
}

.s3{
  margin: 100px 0px 0px 0px!important;
}

.s4{
  margin: 0!important;
}

.p2{
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.p2.n{
  display: flex;
}

.p2 span{
  font-size: 80px;
}

footer {
  bottom: 12px;
  width: 100%;
  background: var(--cor-de-fundo);
  padding-top: 60px;
}

footer a{
  color: var(--cor-do-texto-secundaria);
}

footer section.top > img {
  height: 50px;
  margin: 0 auto 50px;
}

footer section {
  position: relative;
  margin: 0 30px;
}

footer section.top {
  display: grid;
  border-bottom: 2px solid rgb(255 255 255 / 20%);
  padding-bottom: 20px;
}

footer section.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 8px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
}

footer a{
  text-decoration: none;
}

footer a:hover{
  color: var(--cor-do-texto);
}

.Dono{
  color: var(--cor-do-texto);
}

footer section.top .links {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-bottom: 36px;
}

.links-column {
  display: grid;
  gap: 10px;
  text-align: center;
}

footer section h2 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 400;
  color: var(--cor-do-texto);
}

footer section p {
  margin: 0;
}

.legal > a {
  margin: 0 0 0 4px;
}

.legal,
.copyright {
  font-size: 12px;
  display: flex;
}

.legal > span {
  margin-right: 10px;
}

footer section.top .socials {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 56px;
  margin-top: 5px;
  justify-content: center;
}

footer section.top .socials > a {
  font-size: 20px;
  background: var(--cor-principal);
  color: var(--color-title);
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

svg{
  color: #fff;
}