@media (max-width: 850px) { 
  .menu {
    display: flex;
    position: absolute;
    top: 110px;
    left: 100%;
    width: 0vw;
    height: calc(100vh - 110px);
    background-color: var(--cor-de-fundo);
    backdrop-filter: blur(50px);
    flex-direction: column;
    overflow-y: scroll;
  }

  .menu.rolagem{
    top: 60px!important;
    height: calc(100vh - 60px)!important;
  }

  .menu li{
    display: none;
    width: 0vw;
  }

  .menu i, .menu li span{
    display: flex;
  }

  .menu.show{
    display: flex;
    align-items: center;
    width: 80vw;
    backdrop-filter: blur(50px)!important;
    left: 20%;
    top: 150px;
  }

  .menu.show li{
    display: flex;
    width: auto;
    align-items: center;
  }

  .html.active{
    overflow: hidden;
  }

  .nav{
    transition: 0.5s!important;
  }

  .nav.active{
    backdrop-filter: blur(0px)!important;
    background-color: var(--cor-de-fundo);
  }

  .hamburger{
    display: flex;
  }

  .s2{
    display: flex;
  }
}

@media (max-width: 1100px) {
  footer{
    justify-content: flex-start;
  }

  .rodape{
    flex-direction: column;
  }

  .rodape .div-interna{
    justify-content: flex-start;
    width: calc(100vw - 100px);
  }
}

@media (max-width: 450px) {
  .div-contato{
    flex-direction: column;
  }

  .text-titulo{
    font-size: 15px;
  }

  .text-titulo-2{
    font-size: 15px;
  }

  .div-contato a{
    font-size: 15px;
  }
}

@media (max-width: 800px) { 
  .div-tudo{
    flex-direction: column-reverse;
  }
  
  .div-tudo .div-interna{
    width: calc(90vw - 40px);
    height: auto;
    margin-top: 50px;
  }

  .div-img{
    padding: 0;
  }

  .div-img img{
    height: 90vw;
    width: calc(90vw - 40px);
    object-fit: cover;
    padding: 0;
  }

  .div-img-bottom  img{
    object-position: center bottom;
  }
}

@media (max-width: 700px) {
  .titulo{
    font-size: 60px;
  }
}

@media (max-width: 500px) {
  .titulo{
    font-size: 40px;
  }
}